<nz-card nzTitle="Job Completion Form">
    <nz-card>
      <div class="m-t-15">
        <form nz-form [formGroup]="JobForm" (ngSubmit)="submitJobForm()">
          <nz-alert *ngIf="errMessage" class="m-b-15" nzType="error" nzMessage={{errMessage}} nzShowIcon></nz-alert>
          <div class="row">
            <div class="col-md-4">
              <nz-form-item>
                <nz-form-label nzRequired nzFor="address">flaggers</nz-form-label>
                <nz-form-control nzHasFeedback [nzErrorTip]="flaggerErrorTp">
                  <nz-input-group>
                    <input type="number" nz-input formControlName="flaggers" placeholder="flaggers">
                  </nz-input-group>
                  <ng-template #flaggerErrorTp let-control>
                    <ng-container *ngIf="control.hasError('required')">
                      Please enter the number of flaggers!
                    </ng-container>
                  </ng-template>
                </nz-form-control>
              </nz-form-item>
           </div>
           <div class="col-md-4">
            <nz-form-item>
              <nz-form-label nzRequired nzFor="address">Cones</nz-form-label>
              <nz-form-control nzHasFeedback [nzErrorTip]="coneErrorTp">
                <nz-input-group>
                  <input type="number" nz-input formControlName="cones" placeholder="Cones">
                </nz-input-group>
                <ng-template #coneErrorTp let-control>
                  <ng-container *ngIf="control.hasError('required')">
                    Please enter the number of cones!
                  </ng-container>
                </ng-template>
              </nz-form-control>
            </nz-form-item>
           </div>
           <div class="col-md-4">
            <nz-form-item>
              <nz-form-label nzRequired nzFor="address">Stop/Slow Sign</nz-form-label>
              <nz-form-control nzHasFeedback [nzErrorTip]="signErrorTp">
                <nz-input-group>
                  <input type="number" nz-input formControlName="signs" placeholder="Stop/Slow Sign used">
                </nz-input-group>
                <ng-template #signErrorTp let-control>
                  <ng-container *ngIf="control.hasError('required')">
                    Please enter the number of signs used!
                  </ng-container>
                </ng-template>
              </nz-form-control>
            </nz-form-item>
           </div>

          </div>
          <div class="row">
            <div class="col-md-4">
              <nz-form-item>
                <nz-form-label nzRequired nzFor="address">Traffic/Arrow Board</nz-form-label>
                <nz-form-control nzHasFeedback [nzErrorTip]="boardErrorTp">
                  <nz-input-group>
                    <input type="number" nz-input formControlName="boards" placeholder="Boards used">
                  </nz-input-group>
                  <ng-template #boardErrorTp let-control>
                    <ng-container *ngIf="control.hasError('required')">
                      Please enter the number of boards used!
                    </ng-container>
                  </ng-template>
                </nz-form-control>
              </nz-form-item>
             </div>
            <div class="col-md-4">
              <nz-form-item>
                <nz-form-label nzRequired nzFor="startDate">Work Start Time</nz-form-label>
                <nz-form-control nzHasFeedback [nzErrorTip]="startErrorTp">
                  <nz-input-group>
                    <nz-date-picker nzShowTime class="w-100" nzFormat="MM/dd/yyyy HH:mm:ss" [nzDisabledDate]="disabledDate"
                      formControlName="startedAt" nzPlaceHolder="Select Date Time" (ngModelChange)="onChange($event)"
                      (nzOnOk)="onOk($event)"
                      >
                    </nz-date-picker>
                  </nz-input-group>
                  <ng-template #startErrorTp let-control>
                    <ng-container *ngIf="control.hasError('required')">
                      Please input Start Date Time!
                    </ng-container>
                  </ng-template>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div class="col-md-4">
              <nz-form-item>
                <nz-form-label nzRequired nzFor="endDate">Work End Time</nz-form-label>
                <nz-form-control nzHasFeedback [nzErrorTip]="endErrorTp">
                  <nz-input-group>
                    <nz-date-picker nzShowTime class="w-100" nzFormat="MM/dd/yyyy HH:mm:ss" [nzDisabledDate]="disabledDate"
                      formControlName="endedAt" nzPlaceHolder="Select Date Time"
                      (ngModelChange)="onChangeEnd($event)"
                      (nzOnOk)="onOk($event)"
                      >
                    </nz-date-picker>
                  </nz-input-group>
                  <ng-template #endErrorTp let-control>
                    <ng-container *ngIf="control.hasError('required')">
                      Please input End Date Time!
                    </ng-container>
                  </ng-template>
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <nz-form-item>
                <nz-form-label nzRequired nzFor="address">Total Hours</nz-form-label>
                <nz-form-control nzHasFeedback [nzErrorTip]="signErrorTp">
                  <nz-input-group>
                    <input type="number" nz-input formControlName="totalTime" placeholder="Total Hours">
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
          <div class="row">
            <nz-form-item>
              <nz-form-control class="pull-right">
                <button nz-button [disabled]="loading" nzType="primary">
                  Add
                  <nz-spin [nzSpinning]="loading"></nz-spin>
                </button>
              </nz-form-control>
            </nz-form-item>
          </div>
        </form>
        <ng-template #prefixUser><i nz-icon nzType="user"></i></ng-template>
        <ng-template #prefixLock><i nz-icon nzType="lock"></i></ng-template>
      </div>
    </nz-card>

