<div class="page-header">
  <div class="d-md-flex align-items-md-center justify-content-between">
      <div class="media m-v-10 align-items-center">
          <nz-avatar nzIcon="user" [nzSize]="50" nzSrc="{{avatar}}"></nz-avatar>
          <div class="media-body m-l-15">
              <h4 class="m-b-0">Welcome back, {{fname}}!</h4>
              <span class="text-gray">{{role}}</span>
          </div>
      </div>
      <div class="d-md-flex align-items-center d-none">
          <div class="media align-items-center m-r-40 m-v-5">
              <div class="font-size-27">
                  <i class="text-primary" nz-icon nzType="profile" theme="outline"></i>
              </div>
              <div class="d-flex align-items-center m-l-10">
                  <h2 class="m-b-0 m-r-5">{{totalTasks}}</h2>
                  <span class="text-gray">Tasks</span>
              </div>
          </div>
      </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <nz-card>
      <nz-tabset [nzTabPosition]="position" [nzType]="'line'">
        <nz-tab nzTitle="OPEN">
          <nz-list
          [nzDataSource]="openTasks"
          [nzItemLayout]="'vertical'"
          [nzRenderItem]="item"
          [nzPagination]="pagination">
          <ng-template #item let-item>
              <nz-list-item [nzContent]="item.content" [nzActions]="[starAction,likeAction]" [nzExtra]="extra">
              <ng-template #starAction>
                <span nz-tooltip nzTitle="Start Task">
                  <button nz-button [nzSize]="size" nzType="dashed" (click)="startTask(item.task_id)">
                    Start
                  </button>
                </span>
              </ng-template>
              <ng-template #likeAction>
                <span nz-tooltip nzTitle="Cancel Task">
                  <button nz-button [nzSize]="size" nzType="dashed" routerLink="/technician/cancel/{{item.task_id}}">
                    Cancel
                  </button>
                </span>
              </ng-template>
                  <nz-list-item-meta
                      [nzAvatar]="'assets/images/avatars/avatar.png'"
                      [nzTitle]="nzTitle"
                      [nzDescription]="nzDescription">
                      <ng-template #nzTitle>Flagging</ng-template>
                      <ng-template #nzDescription>{{item.task_street}},{{item.task_city}}{{item.task_street}}</ng-template>
                  </nz-list-item-meta>
                  <ng-template #extra>
                  </ng-template>
              </nz-list-item>
          </ng-template>
          <ng-template #pagination>
              <nz-pagination [nzPageIndex]="1" [nzTotal]="50" [nzPageSize]="50"></nz-pagination>
          </ng-template>
          </nz-list>
        </nz-tab>
        <nz-tab nzTitle="IN_PROGRESS">
          <nz-list
          [nzDataSource]="inprogress"
          [nzItemLayout]="'vertical'"
          [nzRenderItem]="task"
          [nzPagination]="pagination">
          <ng-template #task let-task>
              <nz-list-item [nzContent]="task.content" [nzActions]="[likeAction,msgAction]" [nzExtra]="extra">
              <ng-template #likeAction>
                <span nz-tooltip nzTitle="Cancel Task">
                  <button nz-button [nzSize]="size" nzType="dashed" routerLink="/technician/cancel/{{task.task_id}}">
                    Cancel
                  </button>
                </span>
              </ng-template>
              <ng-template #msgAction>
                  <span nz-tooltip nzTitle="Finish Task">
                   <button nz-button [nzSize]="size" nzType="dashed" (click)="updateWorkEnd(task.task_id)">
                     Finish
                   </button>
                  </span>
                </ng-template>
                  <nz-list-item-meta
                      [nzAvatar]="'assets/images/avatars/avatar.png'"
                      [nzTitle]="nzTitle"
                      [nzDescription]="nzDescription">
                      <ng-template #nzTitle>Flagging</ng-template>
                      <ng-template #nzDescription>{{task.task_street}},{{task.task_city}}  {{task.task_state}} {{task.task_zipCode}}</ng-template>
                  </nz-list-item-meta>
                  <ng-template #extra>
                  </ng-template>
              </nz-list-item>
          </ng-template>
          <ng-template #pagination>
              <nz-pagination [nzPageIndex]="1" [nzTotal]="10" [nzPageSize]="1"></nz-pagination>
          </ng-template>
          </nz-list>
        </nz-tab>
        <nz-tab nzTitle="COMPLETED">
          <nz-card>
            <nz-table #listViewTable nzBordered [nzPageSize]="15" [nzData]="completed">
              <thead>
                <tr>
                  <th>Address</th>
                  <th>Date</th>
                  <th>Job Duration</th>
                  <th>Client Review</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of listViewTable.data">
                  <td>
                    {{item.task_street}},{{item.task_city}}  {{item.task_state}} {{item.task_zipCode}}
                  </td>
                  <td>{{item.task_plannedStartDate | date}}</td>
                  <td>{{item.task_flagger_duration}}Hrs</td>
                  <td>
                    {{item.task_client_rate}}
                  </td>
                </tr>
              </tbody>
            </nz-table>
          </nz-card>
        </nz-tab>
      </nz-tabset>`
  </nz-card>
  </div>

</div>




