<div class="page-header">
  <div class="d-md-flex align-items-md-center justify-content-between">
      <div class="media m-v-10 align-items-center">
          <nz-avatar nzIcon="user" [nzSize]="50" nzSrc="assets/images/avatars/avatar.png"></nz-avatar>
          <div class="media-body m-l-15">
              <h4 class="m-b-0">Welcome back, {{fname}}!</h4>
              <span class="text-gray">{{role}}</span>
          </div>
      </div>
      <div class="d-md-flex align-items-center d-none">
          <div class="media align-items-center m-r-40 m-v-5">
              <div class="font-size-27">
                  <i class="text-primary" nz-icon nzType="profile" theme="outline"></i>
              </div>
              <div class="d-flex align-items-center m-l-10">
                  <h2 class="m-b-0 m-r-5">{{tasks}}</h2>
                  <span class="text-gray">Tasks</span>
              </div>
          </div>
          <div class="media align-items-center m-r-40 m-v-5">
              <div class="font-size-27">
                  <i class="text-success" nz-icon nzType="appstore" theme="outline"></i>
              </div>
              <div class="d-flex align-items-center m-l-10">
                  <h2 class="m-b-0 m-r-5">{{projects}}</h2>
                  <span class="text-gray">Projects</span>
              </div>
          </div>
          <div class="media align-items-center m-v-5">
              <div class="font-size-27">
                  <i class="text-danger" nz-icon nzType="team" theme="outline"></i>
              </div>
              <div class="d-flex align-items-center m-l-10">
                  <h2 class="m-b-0 m-r-5">{{employees}}</h2>
                  <span class="text-gray">Employees</span>
              </div>
          </div>
      </div>
  </div>
</div>
