<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <nz-card>
        <div class="d-flex justify-content-between">
          <div class="media align-items-center">
            <nz-avatar nzShape="square" nzSrc="assets/images/others/thumb-3.jpg"></nz-avatar>
            <div class="m-l-10">
              <h4 class="m-b-0">{{name}}</h4>
            </div>
          </div>
          <div>
            <nz-tag class="m-b-0" [nzColor]="'blue'">{{status}}</nz-tag>
          </div>
        </div>
        <div class="m-t-40">
          <h6>Description:</h6>
          {{description}}
        </div>
        <div class="d-md-flex m-t-30 align-items-center justify-content-between">
          <div class="d-flex align-items-center m-t-10">

          </div>
          <div class="m-t-10">
            <span class="font-weight-semibold m-r-10 m-b-5 text-dark">Due Date: </span>
            <span>{{endDate}}</span>
          </div>
        </div>
        <div class="off-gutter-x m-t-30">
          <nz-tabset>
            <nz-tab nzTitle="Jobs ({{total}})">
              <nz-card>
                <nz-table #listViewTable nzBordered [nzPageSize]="15" [nzData]="Tasks">
                  <thead>
                    <tr>
                      <th>Address</th>
                      <th>Duration</th>
                      <th>Job Bill</th>
                      <th>Client Review</th>
                      <th>Status</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of listViewTable.data">
                      <td>
                        {{item.street}}, {{item.city}},{{item.state}} {{item.zipCode}}
                      </td>
                      <td>{{item.billable_duration}}Hrs</td>
                      <td>{{item.bill}}$</td>
                      <td>
                        {{item.client_rate}}
                      </td>
                      <td>
                        {{item.status}}
                      </td>
                      <td>
                        <div>
                          <a class="text-gray font-size-18" nz-dropdown nzPlacement="bottomRight" nzTrigger="click"
                            [nzDropdownMenu]="projectListSetting2">
                            <i nz-icon nzType="ellipsis" theme="outline"></i>
                          </a>
                          <nz-dropdown-menu #projectListSetting2="nzDropdownMenu">
                            <ul nz-menu nzSelectable>
                              <li nz-menu-item>
                                <a routerLink="/projects/task/{{item.id}}">
                                  <i nz-icon nzType="eye" theme="outline"></i>
                                  <span class="m-l-10">View</span>
                                </a>
                              </li>
                              <li nz-menu-item *ngIf="item.status !== 'COMPLETE'">
                                <a routerLink="/projects/update-task/{{item.id}}">
                                  <i nz-icon nzType="edit" theme="outline"></i>
                                  <span class="m-l-10">Edit</span>
                                </a>
                              </li>
                              <li nz-menu-divider></li>
                              <li nz-menu-item>
                                <a>
                                  <i nz-icon nzType="delete" theme="outline"></i>
                                  <span class="m-l-10">Delete</span>
                                </a>
                              </li>
                            </ul>
                          </nz-dropdown-menu>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </nz-table>
              </nz-card>
            </nz-tab>
            <nz-tab nzTitle="Add Job" *ngIf="status != 'COMPLETED'">
              <nz-card>
                <h4>Add Job</h4>

                <div class="m-t-25">
                  <form nz-form [formGroup]="TaskForm" (ngSubmit)="addTask(TaskForm.value)">
                    <nz-alert *ngIf="errMessage" class="m-b-15" nzType="error" nzMessage={{errMessage}} nzShowIcon>
                    </nz-alert>
                    <div class="row">
                      <div class="col-md-6">
                        <nz-form-item>
                          <nz-form-label nzRequired nzFor="startDate">Planned start Date</nz-form-label>
                          <nz-form-control nzHasFeedback [nzErrorTip]="startErrorTp">
                            <nz-input-group>
                              <nz-date-picker nzShowTime class="w-100" nzFormat="MM/dd/yyyy HH:mm:ss"
                                [nzDisabledDate]="disabledDate" formControlName="plannedStartDate" nzPlaceHolder="Select Date"
                                (ngModelChange)="onChange($event)" (nzOnOk)="onOk($event)">
                              </nz-date-picker>

                            </nz-input-group>
                            <ng-template #startErrorTp let-control>
                              <ng-container *ngIf="control.hasError('required')">
                                Please input Start Date!
                              </ng-container>
                            </ng-template>
                          </nz-form-control>
                        </nz-form-item>
                      </div>
                      <div class="col-md-6">
                        <nz-form-item>
                          <nz-form-label nzRequired nzFor="startDate">Planned end date</nz-form-label>
                          <nz-form-control nzHasFeedback [nzErrorTip]="endErrorTp">
                            <nz-input-group>
                              <nz-date-picker nzShowTime class="w-100" nzFormat="MM/dd/yyyy HH:mm:ss"
                                [nzDisabledDate]="disabledDate" formControlName="plannedEndDate" nzPlaceHolder="Select Date"
                                (ngModelChange)="onChange($event)" (nzOnOk)="onOk($event)">
                              </nz-date-picker>
                            </nz-input-group>
                            <ng-template #endErrorTp let-control>
                              <ng-container *ngIf="control.hasError('required')">
                                Please input End Date!
                              </ng-container>
                            </ng-template>
                          </nz-form-control>
                        </nz-form-item>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-3">
                        <nz-form-item>
                          <nz-form-label nzRequired nzFor="address">Street.</nz-form-label>
                          <nz-form-control nzHasFeedback [nzErrorTip]="addressErrorTp">
                            <nz-input-group>
                              <input type="text" nz-input formControlName="street" placeholder="eg. 777 Brockton Avenue">
                            </nz-input-group>
                            <ng-template #addressErrorTp let-control>
                              <ng-container *ngIf="control.hasError('required')">
                                Please enter the street.!
                              </ng-container>
                            </ng-template>
                          </nz-form-control>
                        </nz-form-item>
                     </div>
                     <div class="col-md-3">
                      <nz-form-item>
                        <nz-form-label nzRequired nzFor="address">City</nz-form-label>
                        <nz-form-control nzHasFeedback [nzErrorTip]="addressErrorTp">
                          <nz-input-group>
                            <input type="text" nz-input formControlName="city" placeholder="eg. Abington">
                          </nz-input-group>
                          <ng-template #addressErrorTp let-control>
                            <ng-container *ngIf="control.hasError('required')">
                              Please enter the city!
                            </ng-container>
                          </ng-template>
                        </nz-form-control>
                      </nz-form-item>
                     </div>
                     <div class="col-md-3">
                      <nz-form-item>
                        <nz-form-label nzRequired nzFor="address">State</nz-form-label>
                        <nz-form-control nzHasFeedback [nzErrorTip]="addressErrorTp">
                          <nz-input-group>
                            <input type="text" nz-input formControlName="state" placeholder="eg. MA">
                          </nz-input-group>
                          <ng-template #addressErrorTp let-control>
                            <ng-container *ngIf="control.hasError('required')">
                              Please enter the state!
                            </ng-container>
                          </ng-template>
                        </nz-form-control>
                      </nz-form-item>
                     </div>
                     <div class="col-md-3">
                      <nz-form-item>
                        <nz-form-label nzRequired nzFor="address">Zip Code</nz-form-label>
                        <nz-form-control nzHasFeedback [nzErrorTip]="addressErrorTp">
                          <nz-input-group>
                            <input type="text" [textMask]="{mask: mask}" nz-input formControlName="zipCode" placeholder="zip code">
                          </nz-input-group>
                          <ng-template #addressErrorTp let-control>
                            <ng-container *ngIf="control.hasError('required')">
                              Please enter the zip code!
                            </ng-container>
                          </ng-template>
                        </nz-form-control>
                      </nz-form-item>
                     </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <nz-form-item>
                          <nz-form-label nzRequired nzFor="address">Flaggers</nz-form-label>
                          <nz-form-control nzHasFeedback [nzErrorTip]="addressErrorTp">
                            <nz-input-group>
                              <nz-select [nzMaxMultipleCount]="3" class="w-100" nzMode="multiple"
                                nzPlaceHolder="Please select" formControlName="flaggers">
                                <nz-option *ngFor="let item of employees" [nzLabel]="item.name" [nzValue]="item.emp_id">
                                </nz-option>
                              </nz-select>
                            </nz-input-group>
                            <ng-template #addressErrorTp let-control>
                              <ng-container *ngIf="control.hasError('required')">
                                Please assign employee(s)!
                              </ng-container>
                            </ng-template>
                          </nz-form-control>
                        </nz-form-item>
                      </div>
                    </div>
                    <div class="row">
                      <nz-form-item>
                        <nz-form-control class="pull-right">
                          <button nz-button [disabled]="loading" nzType="primary">
                            Add
                            <nz-spin [nzSpinning]="loading"></nz-spin>
                          </button>
                        </nz-form-control>
                      </nz-form-item>
                    </div>
                  </form>
                  <ng-template #prefixUser><i nz-icon nzType="user"></i></ng-template>
                  <ng-template #prefixLock><i nz-icon nzType="lock"></i></ng-template>
                </div>
              </nz-card>
            </nz-tab>
          </nz-tabset>
        </div>
      </nz-card>
    </div>
  </div>
</div>
