<div class="container">
  <nz-tabset>
    <nz-tab nzTitle="Company Details">
      <div class="container">
        <nz-card nzTitle="Company Infomation">
          <form nz-form [formGroup]="CompanyForm" (click)="updateCompany(this.CompanyForm.value)">
            <nz-alert *ngIf="errMessage" class="m-b-15" nzType="error" nzMessage={{errMessage}} nzShowIcon></nz-alert>
            <div class="row">
              <div class="col-md-6">
                  <nz-form-item>
                    <nz-form-label nzRequired nzFor="firstname">Company Name</nz-form-label>
                    <nz-form-control nzHasFeedback [nzErrorTip]="fnameErrorTp">
                      <nz-input-group>
                        <input type="text" nz-input formControlName="organization" placeholder="Company Name">
                      </nz-input-group>
                      <ng-template #fnameErrorTp let-control>
                        <ng-container *ngIf="control.hasError('required')">
                          Please input Company Name!
                        </ng-container>
                      </ng-template>
                    </nz-form-control>
                  </nz-form-item>
              </div>
              <div class="col-md-6">
                  <nz-form-item>
                    <nz-form-label nzRequired nzFor="lastname">Contact Person</nz-form-label>
                    <nz-form-control nzHasFeedback [nzErrorTip]="lnameErrorTp">
                        <nz-input-group>
                          <input type="text" nz-input formControlName="contact_person" placeholder="Contact Person">
                        </nz-input-group>
                        <ng-template #lnameErrorTp let-control>
                          <ng-container *ngIf="control.hasError('required')">
                            Please input Contact Person!
                          </ng-container>
                        </ng-template>
                    </nz-form-control>
                  </nz-form-item>
              </div>
            </div>
          <div class="row">
            <div class="col-md-6">
                <nz-form-item>
                  <nz-form-label nzRequired nzFor="email">Email</nz-form-label>
                  <nz-form-control  nzHasFeedback [nzErrorTip]="emailErrorTp">
                    <nz-input-group>
                      <input type="text" nz-input formControlName="email" placeholder="Email">
                    </nz-input-group>
                    <ng-template #emailErrorTp let-control>
                      <ng-container *ngIf="control.hasError('email')">
                        The input is not valid E-mail!
                      </ng-container>
                      <ng-container *ngIf="control.hasError('required')">
                        Please input your E-mail!
                      </ng-container>
                    </ng-template>
                  </nz-form-control>
                </nz-form-item>
            </div>
            <div class="col-md-6">
                <nz-form-item>
                  <nz-form-label nzRequired nzFor="phone">Phone No.</nz-form-label>
                  <nz-form-control nzHasFeedback [nzErrorTip]="phoneErrorTp" >

                    <nz-input-group>
                      <input formControlName="phone" id="'phone'" nz-input>
                    </nz-input-group>
                    <ng-template #phoneErrorTp let-control>
                      <ng-container *ngIf="control.hasError('required')">
                        Please input your phone number!
                      </ng-container>
                    </ng-template>
                  </nz-form-control>
                </nz-form-item>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <nz-form-item>
                <nz-form-label nzRequired nzFor="address">Cone Rate.</nz-form-label>
                <nz-form-control nzHasFeedback [nzErrorTip]="addressErrorTp">
                  <nz-input-group>
                    <input type="text" nz-input formControlName="cone_rate" placeholder="Cone Rate ">
                  </nz-input-group>
                  <ng-template #addressErrorTp let-control>
                    <ng-container *ngIf="control.hasError('required')">
                      Please enter the cone rate.!
                    </ng-container>
                  </ng-template>
                </nz-form-control>
              </nz-form-item>
           </div>
           <div class="col-md-3">
            <nz-form-item>
              <nz-form-label nzRequired nzFor="address">Stop/Slow sign rate</nz-form-label>
              <nz-form-control nzHasFeedback [nzErrorTip]="addressErrorTp">
                <nz-input-group>
                  <input type="text" nz-input formControlName="sign_rate" placeholder="Stop/Slow sign rate">
                </nz-input-group>
                <ng-template #addressErrorTp let-control>
                  <ng-container *ngIf="control.hasError('required')">
                    Please enter the sign Rate!
                  </ng-container>
                </ng-template>
              </nz-form-control>
            </nz-form-item>
           </div>
           <div class="col-md-3">
            <nz-form-item>
              <nz-form-label nzRequired nzFor="address">Boards Rate</nz-form-label>
              <nz-form-control nzHasFeedback [nzErrorTip]="addressErrorTp">
                <nz-input-group>
                  <input type="text" nz-input formControlName="boards_rate" placeholder="Boards Rate">
                </nz-input-group>
                <ng-template #addressErrorTp let-control>
                  <ng-container *ngIf="control.hasError('required')">
                    Please enter the Boards Rate!
                  </ng-container>
                </ng-template>
              </nz-form-control>
            </nz-form-item>
           </div>
           <div class="col-md-3">
            <nz-form-item>
              <nz-form-label nzRequired nzFor="address">Flaggers Rate</nz-form-label>
              <nz-form-control nzHasFeedback [nzErrorTip]="addressErrorTp">
                <nz-input-group>
                  <input type="text" nz-input formControlName="flagger_rate" placeholder="Flaggers Rate">
                </nz-input-group>
                <ng-template #addressErrorTp let-control>
                  <ng-container *ngIf="control.hasError('required')">
                    Please enter the flaggers Rate!
                  </ng-container>
                </ng-template>
              </nz-form-control>
            </nz-form-item>
           </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <nz-form-item>
              <nz-form-label nzRequired nzFor="address">Minimum Chargable Hours</nz-form-label>
              <nz-form-control nzHasFeedback [nzErrorTip]="addressErrorTp">
                <nz-input-group>
                  <input type="text" nz-input formControlName="min_hours" placeholder="Minimum Chargable Hours">
                </nz-input-group>
                <ng-template #addressErrorTp let-control>
                  <ng-container *ngIf="control.hasError('required')">
                    Please enter the min hours!
                  </ng-container>
                </ng-template>
              </nz-form-control>
            </nz-form-item>
           </div>
           <div class="col-md-6">
            <nz-form-item>
              <nz-form-label nzRequired nzFor="address">Address</nz-form-label>
              <nz-form-control nzHasFeedback [nzErrorTip]="addressErrorTp">
                <nz-input-group>
                  <input type="text" nz-input formControlName="address" placeholder="Address">
                </nz-input-group>
                <ng-template #addressErrorTp let-control>
                  <ng-container *ngIf="control.hasError('required')">
                    Please enter the company address!
                  </ng-container>
                </ng-template>
              </nz-form-control>
            </nz-form-item>
           </div>
        </div>
       <div class="row">
         <nz-form-item>
           <nz-form-control class="pull-right">
            <button nz-button [disabled]="loading" nzType="primary">
              Update
              <nz-spin [nzSpinning]="loading"></nz-spin>
            </button>
           </nz-form-control>
         </nz-form-item>
       </div>
          </form>

        </nz-card>
    </div>
    </nz-tab>
    <!-- <nz-tab nzTitle="Change Password">
      <nz-card nzTitle="Change Password">
        <form nz-form [formGroup]="changePWForm" (ngSubmit)="changePassword()">
          <nz-alert *ngIf="errMessage" class="m-b-15" nzType="error" nzMessage={{errMessage}} nzShowIcon></nz-alert>
            <div class="row">
                <div class="col-md-3">
                    <nz-form-item>
                        <nz-form-label nzFor="oldPassword">Old Password</nz-form-label>
                        <nz-form-control>
                            <input formControlName="oldPassword" nz-input type="password" placeholder="Old Password">
                            <nz-form-explain *ngIf="changePWForm.get('oldPassword').dirty && changePWForm.get('oldPassword').errors">Please input your old password!</nz-form-explain>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div class="col-md-3">
                     <nz-form-item>
                        <nz-form-label nzFor="newPassword">New Password</nz-form-label>
                        <nz-form-control>
                            <input formControlName="newPassword" nz-input type="password" placeholder="New Password">
                            <nz-form-explain *ngIf="changePWForm.get('newPassword').dirty && changePWForm.get('newPassword').errors">Please input your New Password!</nz-form-explain>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div class="col-md-3">
                    <nz-form-item>
                        <nz-form-label nzFor="confirmPassword">Confirm</nz-form-label>
                        <nz-form-control>
                            <input formControlName="confirmPassword" nz-input type="password" placeholder="Confirm Password">
                            <nz-form-explain *ngIf="changePWForm.get('confirmPassword').dirty && changePWForm.get('confirmPassword').errors">Please confirm your New Password!</nz-form-explain>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div class="col-md-3">
                    <nz-form-item>
                        <nz-form-control>
                            <button class="m-t-40" nz-button nzType="primary" [disabled]="!changePWForm.valid">Change</button>
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
        </form>
    </nz-card>
    </nz-tab> -->
  </nz-tabset>
</div>

