<div class="page-header">
</div>
<div class="container-fluid">
  <nz-card>
    <nz-table #listViewTable  [nzPageSize]="15" [nzData]="notifications">
      <thead>
        <tr>
          <th>Event</th>
          <th>Message</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of listViewTable.data">
          <td>
            {{item.event}}
          </td>
          <td>{{item.message}}</td>
          <td>
            {{item.status}}
          </td>
          <td *ngIf="item.status === 'UNREAD'">
            <a (click)="markAsRead(item.id)">
              <i class="far fa-envelope-open"></i>
              <span class="m-l-10">Mark as read</span>
            </a>

          </td>
          <td *ngIf="item.status === 'READ'">
            <a (click)="markAsUnread(item.id)" >
              <i class="far fa-envelope"></i>
              <span class="m-l-10">Mark as unread</span>
            </a>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </nz-card>
</div>
