<div class="page-header">
  <div class="row align-items-md-center">
      <div class="col-md-6">
          <div class="row">
              <div class="col-md-5">
                  <nz-input-group [nzPrefix]="searchPrefix">
                      <input type="text" nz-input placeholder="Search Employee" [(ngModel)]="search">
                  </nz-input-group>
                  <ng-template #searchPrefix>
                      <i class="opacity-04" nz-icon nzType="search"></i>
                  </ng-template>
              </div>
          </div>
      </div>
      <div class="col-md-6">
          <div class="text-md-right m-v-10">
              <button nz-button nzType="primary" [routerLink]="['/employees/add-employee']">
                  <i nz-icon nzType="plus"></i>
                  <span>New Employee</span>
              </button>
          </div>
      </div>
  </div>
</div>
<div class="container-fluid">
  <nz-card>
    <div class="text-md-right m-v-10">
      <button (click)="export()"  nz-button nzType="primary" [nzSize]="'small'"><i nz-icon nzType="download"></i>Export</button>
    </div>
      <nz-table #listViewTable  nzBordered [nzPageSize]="15" [nzData]="employeeList" nzTitle="EMPLOYEES">

          <thead>
              <tr>
                  <th>Name</th>
                  <th>Email</th>
                  <th>Phone</th>
                  <th>Address</th>
                  <th>Role</th>
                  <th class="text-center">Status</th>
                  <th>Action</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let item of listViewTable.data | search:'firstname':search as count ;  let i=index">
                  <td>
                    {{item.firstname + " " + item.lastname}}
                  </td>
                  <td>{{item.email}}</td>
                  <td>
                     {{item.phone}}
                  </td>
                  <td>
                     {{item.street}} {{item.city}} {{item.state}}  {{item.zipCode}}
                  </td>
                  <td class="text-center">
                    {{item.jobTitle}}
                 </td>
                 <td class="text-center">
                  {{item.status}}
                 </td>
                  <td class="text-right">
                      <div>
                          <a class="text-gray font-size-18" nz-dropdown nzPlacement="bottomRight" nzTrigger="click" [nzDropdownMenu]="projectListSetting2">
                                  <i nz-icon nzType="ellipsis" theme="outline"></i>
                              </a>
                              <nz-dropdown-menu #projectListSetting2="nzDropdownMenu">
                                  <ul nz-menu nzSelectable>
                                      <li nz-menu-item *ngIf="item.status == 'ACTIVE'">
                                          <a routerLink="/employees/profile/{{item.id}}">
                                              <i nz-icon nzType="eye" theme="outline"></i>
                                              <span class="m-l-10">View</span>
                                          </a>
                                      </li>
                                      <li nz-menu-divider></li>
                                      <li nz-menu-item *ngIf="item.status == 'ACTIVE'">
                                          <a (click)="deactivateEmployee(item.id)">
                                              <i nz-icon nzType="rest" theme="outline"></i>
                                              <span class="m-l-10">Deactivate</span>
                                          </a>
                                      </li>
                                      <li nz-menu-item *ngIf="item.status == 'INACTIVE'">
                                        <a (click)="activateEmployee(item.id)">
                                            <i nz-icon nzType="rest" theme="outline"></i>
                                            <span class="m-l-10">Ativate</span>
                                        </a>
                                      </li>
                                      <li nz-menu-item>
                                        <a (click)="removeEmployee(item.id)">
                                            <i nz-icon nzType="delete" theme="outline"></i>
                                            <span class="m-l-10">Delete</span>
                                        </a>
                                    </li>
                                  </ul>
                              </nz-dropdown-menu>
                      </div>
                  </td>
              </tr>
          </tbody>
      </nz-table>
  </nz-card>
</div>
