<div class="page-header">
  <div class="row align-items-md-center">
      <div class="col-md-6">
          <div class="row">
              <div class="col-md-5">
                  <nz-input-group [nzPrefix]="searchPrefix">
                      <input type="text" nz-input placeholder="Search Customer" [(ngModel)]="search">
                  </nz-input-group>
                  <ng-template #searchPrefix>
                      <i class="opacity-04" nz-icon nzType="search"></i>
                  </ng-template>
              </div>
          </div>
      </div>
      <div class="col-md-6">
          <div class="text-md-right m-v-10">
              <button nz-button nzType="primary" [routerLink]="['/customers/add-customer']">
                  <i nz-icon nzType="plus"></i>
                  <span>New Customer</span>
              </button>
          </div>
      </div>
  </div>
</div>
<div class="container-fluid">
  <nz-card>
      <nz-table #listViewTable nzBordered [nzPageSize]="15" [nzData]="customersList" nzTitle="CUSTOMERS">
          <thead>
              <tr>
                  <th>ORGANIZATION</th>
                  <th>Name</th>
                  <th>Email</th>
                  <th>Phone</th>
                  <th>Address</th>
                  <th>Status</th>
                  <th>Action</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let item of listViewTable.data | search:'organization':search as count ;  let i=index">
                  <td>
                    {{item.organization}}
                  </td>
                  <td>{{item.contactPerson}}</td>
                  <td>
                     {{item.email}}
                  </td>
                  <td>
                     {{item.phone}}
                  </td>
                  <td>
                     {{item.street}} {{item.city}} {{item.state}} {{item.zipCode}}
                  </td>
                  <td class="text-center">
                    {{item.status}}
                 </td>
                  <td class="text-right">
                      <div>
                          <a class="text-gray font-size-18" nz-dropdown nzPlacement="bottomRight" nzTrigger="click" [nzDropdownMenu]="projectListSetting2">
                                  <i nz-icon nzType="ellipsis" theme="outline"></i>
                              </a>
                              <nz-dropdown-menu #projectListSetting2="nzDropdownMenu">
                                  <ul nz-menu nzSelectable>
                                      <li nz-menu-item  *ngIf="item.status == 'ACTIVE'">
                                          <a routerLink="/customers/update-customer/{{item.id}}">
                                              <i nz-icon nzType="edit" theme="outline"></i>
                                              <span class="m-l-10">Edit</span>
                                          </a>
                                      </li>
                                      <li nz-menu-divider></li>
                                      <li nz-menu-item *ngIf="item.status == 'INACTIVE'">
                                        <a (click)="activateCustomer(item.id)">
                                            <i nz-icon nzType="delete" theme="outline"></i>
                                            <span class="m-l-10">Activate</span>
                                        </a>
                                      </li>
                                      <li nz-menu-item *ngIf="item.status == 'ACTIVE'">
                                          <a (click)="deactivateCustomer(item.id)">
                                              <i nz-icon nzType="delete" theme="outline"></i>
                                              <span class="m-l-10">Deactivate</span>
                                          </a>
                                      </li>
                                  </ul>
                              </nz-dropdown-menu>
                      </div>
                  </td>
              </tr>
          </tbody>
      </nz-table>
  </nz-card>
</div>
